doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/material/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/jquery/jquery.min.js")
    script(src="/material/js/materialize.min.js")
    script(src="/javascripts/init.js")
  body
    block content
